@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --brand1: #0000FF;
    --brand2: #3532FF;

    --action1: #36B37E;
    --action2: #FF5630;
    --action3: #FFAB00;

    --grey-scale-1: #212529;
    --grey-scale-2: #495057;
    --grey-scale-3: #ADB5BD;
    --grey-scale-4: #E9ECEF;
    --grey-scale-5: #F1F3F5;
    --white: #FFFFFF;

    --font-weight-1: 700;
    --font-weight-2: 500;
    --font-weight-3: 400;

    --font-size-1: 2.5rem;
    --font-size-2: 2.25rem;
    --font-size-3: 2rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.125rem;
    --font-size-6: 1rem;

    --line-height-1: 3.75rem;
    --line-height-2: 3.375rem;
    --line-height-3: 2.4206rem;
    --line-height-4: 1.5125rem;
    --line-height-5: 1.3613rem;
    --line-height-6: 1.21rem;

    --font-family-1: 'Poppins', sans-serif;
    ;
    --font-family-2: 'Inter', sans-serif;

}